# --- SISTEMA OPERATIVO ---
# Archivos basura que generan Windows y Mac automáticamente en las carpetas
.DS_Store
Thumbs.db
desktop.ini

# --- CONFIGURACIÓN DE EDITORES (IDE) ---
# Evita subir las carpetas de configuración de tu editor de código
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

